<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL_BLL.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL_BLL.Properties.Settings.QL_MUABAN_TBDTConnectionString"
            connectionString="Data Source=DESKTOP-2H0KG8L;Initial Catalog=QL_MUABAN_TBDT;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DAL_BLL.Settings>
            <setting name="Setting" serializeAs="String">
                <value>ffeff</value>
            </setting>
        </DAL_BLL.Settings>
    </userSettings>
</configuration>